---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import Project from "../components/Project.astro"

const projects = await getCollection("projects")

// Import all tech logos from the assets directory
import reactjs from "../assets/tech-logos/reactjs.svg"
import nodejs from "../assets/tech-logos/nodejs.svg"
import firebase from "../assets/tech-logos/firebase.svg"
import materialui from "../assets/tech-logos/material ui.svg"
import socketio from "../assets/tech-logos/socket.io.svg"
import docker from "../assets/tech-logos/docker.svg"
import sass from "../assets/tech-logos/sass.svg"
import astro from "../assets/tech-logos/astro.svg"
import redux from "../assets/tech-logos/redux.svg"
import latex from "../assets/tech-logos/latex.svg"
import travisci from "../assets/tech-logos/travis-ci.svg"
import preact from "../assets/tech-logos/preact.svg"
import aws from "../assets/tech-logos/aws.svg"
import azure from "../assets/tech-logos/azure.svg"
import golang from "../assets/tech-logos/golang.svg"
import arduino from "../assets/tech-logos/arduino.svg"

const techLogos = {
  reactjs,
  nodejs,
  firebase,
  "material ui": materialui,
  "socket.io": socketio,
  docker,
  sass,
  astro,
  redux,
  latex,
  "travis-ci": travisci,
  preact,
  aws,
  azure,
  golang,
  arduino,
}

const keywords = [
  "karlo delalic",
  "portfolio",
  "distributed systems",
  "software engineer",
  "projects",
  "technology",
]
---

<BaseLayout title="Projects" keywords={keywords}>
  <Header slot="header" />
  <div class="projects">
    {
      projects.map((project, index) => {
        // First 6 projects are above the fold
        const isAboveFold = index < 6
        return (
          <Project
            description={project.data.description}
            github={project.data.github}
            technologies={project.data.technologies || []}
            title={project.data.title}
            demo={project.data.demo}
            techLogos={techLogos}
            projectLogo={project.data.projectLogo}
            isAboveFold={isAboveFold}
          />
        )
      })
    }
  </div>
</BaseLayout>
