---
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"
import { Picture } from "astro:assets"
import BaseLayout from "../../layouts/BaseLayout.astro"
import Header from "../../components/Header.astro"
import "../_custom-recipe.scss"

export async function getStaticPaths() {
  const recipes = await getCollection("recipes")
  const customRecipes = recipes.filter(
    (recipe) => recipe.data.type === "custom-recipe"
  )

  return customRecipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { recipe },
  }))
}

interface Props {
  recipe: CollectionEntry<"recipes">
}

const { recipe } = Astro.props
const { Content } = await recipe.render()
---

<BaseLayout title={recipe.data.title}>
  <Header slot="header" />
  <div class="custom-recipe">
    <article>
      {
        recipe.data.image && (
          <Picture
            src={recipe.data.image}
            alt={recipe.data.title}
            widths={[600, 900, 1200]}
            sizes="(max-width: 600px) 600px, (max-width: 900px) 900px, 1200px"
            formats={["avif", "webp"]}
            quality={70}
            loading="eager"
            class="recipe-hero-image"
          />
        )
      }
      <h2>Ingredients</h2>
      {
        recipe.data.ingredients && (
          <ul>
            {recipe.data.ingredients.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        )
      }
      <h2>Steps</h2>
      <div class="steps">
        <Content />
      </div>
      {
        recipe.data.notes && (
          <>
            <h2>Notes</h2>
            {/* eslint-disable-next-line astro/no-set-html-directive */}
            <div class="notes" set:html={recipe.data.notes} />
          </>
        )
      }
    </article>
  </div>
</BaseLayout>
