---
import Chip from "./Chip.astro"
import { Image } from "astro:assets"
import { FaRegStickyNote } from "react-icons/fa"
import "./recipe.scss"

interface Props {
  image?: any
  source?: string
  tags?: string[]
  title: string
  tagFilters: string[]
  notes?: string
  type?: string
  slug?: string
  isAboveFold?: boolean
}

const {
  image,
  source,
  tags = [],
  title,
  tagFilters = [],
  notes,
  type,
  slug,
  isAboveFold = false,
} = Astro.props

const capitalizeTitle = (title = "") =>
  title
    .split(" ")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ")

const tagFiltersSet = new Set(tagFilters)
---

<div class="recipe fade-in">
  <h2 class="recipe__title">
    {capitalizeTitle(title)}
    {
      notes && notes.trim() !== "" && (
        <span
          class="recipe__note-icon"
          data-tooltip={notes}
          role="button"
          tabindex="0"
        >
          <FaRegStickyNote />
        </span>
      )
    }
  </h2>
  <div class="recipe__body">
    {
      image &&
        (type === "custom-recipe" ? (
          <a href={slug} class="recipe__link">
            <Image
              src={image}
              alt={title}
              class="recipe__image"
              width={600}
              height={400}
              format="webp"
              loading={isAboveFold ? "eager" : "lazy"}
            />
          </a>
        ) : (
          <a
            href={source}
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="recipe__link"
          >
            <Image
              src={image}
              alt={title}
              class="recipe__image"
              width={600}
              height={400}
              format="webp"
              loading={isAboveFold ? "eager" : "lazy"}
            />
          </a>
        ))
    }
    <div class="recipe__body__chips">
      {
        tags &&
          tags
            .sort()
            .map((tag) => (
              <Chip
                label={tag}
                data-tag={tag}
                active={tagFiltersSet.has(tag)}
              />
            ))
      }
    </div>
  </div>
</div>
